In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import sqlite3

In [2]:
cnx = sqlite3.connect('_sources/harassement.db')
df = pd.read_sql_query("SELECT * FROM tweets1", cnx)

In [3]:
df.head(2)

   index usernameTweet                   ID                                               text                                      url  nbr_retweet  nbr_favorite  nbr_reply             datetime  has_media  is_reply  is_retweet  is_quote    user_id
0      0    herveresse  1050078551687524358  Un an après #metoo   ou #balancetonporc , Rapp...   /herveresse/status/1050078551687524358            0             0          0  2018-10-10 19:40:10        1.0         0           0         0   18739382
1      1   LettreAudio  1044325242766807042  Hâte de participer à cette table ronde à #Wash...  /LettreAudio/status/1044325242766807042            0             2          0  2018-09-24 22:38:35        NaN         0           0         0  189869909

In [4]:
len(df)

199827

In [5]:
# not_strings = lambda x: True if (type(x) != str) else False
is_strings = lambda x: True if (type(x) == str) else False

In [6]:
df_clean = df[df.text.apply(is_strings)]

In [8]:
len(df_clean)

199827

In [9]:
df = df.drop(['index', 'user_id'], axis=1)

In [10]:
df.head(2)

  usernameTweet                   ID                                               text                                      url  nbr_retweet  nbr_favorite  nbr_reply             datetime  has_media  is_reply  is_retweet  is_quote
0    herveresse  1050078551687524358  Un an après #metoo   ou #balancetonporc , Rapp...   /herveresse/status/1050078551687524358            0             0          0  2018-10-10 19:40:10        1.0         0           0         0
1   LettreAudio  1044325242766807042  Hâte de participer à cette table ronde à #Wash...  /LettreAudio/status/1044325242766807042            0             2          0  2018-09-24 22:38:35        NaN         0           0         0

In [11]:
df_clean.rename(columns={'usernameTweet':'username_tweet', 'ID':'id'}, inplace=True)

In [12]:
df.head(2)

  usernameTweet                   ID                                               text                                      url  nbr_retweet  nbr_favorite  nbr_reply             datetime  has_media  is_reply  is_retweet  is_quote
0    herveresse  1050078551687524358  Un an après #metoo   ou #balancetonporc , Rapp...   /herveresse/status/1050078551687524358            0             0          0  2018-10-10 19:40:10        1.0         0           0         0
1   LettreAudio  1044325242766807042  Hâte de participer à cette table ronde à #Wash...  /LettreAudio/status/1044325242766807042            0             2          0  2018-09-24 22:38:35        NaN         0           0         0

In [13]:
df_clean.to_pickle('_outputs/harassement.pickle')