In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import warnings
warnings.filterwarnings('ignore')

from langdetect import detect
import swifter

In [2]:
df = pd.read_pickle('_outputs/harassement_clean.pickle')

In [3]:
df.head(2)

   index username_tweet                   id                                               text                                      url  nbr_retweet  nbr_favorite  nbr_reply             datetime  has_media  is_reply  is_retweet  is_quote    user_id                                         clean_text
0      0     herveresse  1050078551687524358  Un an après #metoo   ou #balancetonporc , Rapp...   /herveresse/status/1050078551687524358            0             0          0  2018-10-10 19:40:10        1.0         0           0         0   18739382  après balance ton porc rappel règles homme cis...
1      1    LettreAudio  1044325242766807042  Hâte de participer à cette table ronde à #Wash...  /LettreAudio/status/1044325242766807042            0             2          0  2018-09-24 22:38:35        NaN         0           0         0  189869909  hâte participer cette table ronde washington a...

In [4]:
len(df)

199827

In [5]:
sup_20 = lambda x: len(x) > 20
inf_20 = lambda x: len(x) < 20

In [6]:
df[df.clean_text.apply(inf_20)].head(2)

    index username_tweet                   id                                               text                                      url  nbr_retweet  nbr_favorite  nbr_reply             datetime  has_media  is_reply  is_retweet  is_quote             user_id       clean_text
48     49    ekodeckyann  1199572363953741824                                 Grave seulement...  /ekodeckyann/status/1199572363953741824            0             0          0  2019-11-27 07:15:13        NaN         1           0         0          1498722972  grave seulement
54     57    Karcher2017  1199529895879200768  # Metoo  : l'avis d'Adèle  https://www. causeu...  /Karcher2017/status/1199529895879200768            0             0          0  2019-11-27 04:26:28        1.0         0           0         0  767740276857245700   avis adèle via

In [7]:
df = df[df.clean_text.apply(sup_20)]

In [8]:
len(df)

194339

In [9]:
df['lang'] = df.clean_text.swifter.apply(lambda x: detect(x))

Pandas Apply: 100%|██████████| 194339/194339 [29:52<00:00, 108.40it/s]

In [10]:
df[df.lang != 'fr'].head(2)

   index username_tweet                   id                                               text                                      url  nbr_retweet  nbr_favorite  nbr_reply             datetime  has_media  is_reply  is_retweet  is_quote     user_id                                         clean_text lang
1      1    LettreAudio  1044325242766807042  Hâte de participer à cette table ronde à #Wash...  /LettreAudio/status/1044325242766807042            0             2          0  2018-09-24 22:38:35        NaN         0           0         0   189869909  hâte participer cette table ronde washington a...   en
4      4   minamond_art   957777859078172672  HOLY WOOD BABYLON / 100x200cm/ tempera et feui...  /minamond_art/status/957777859078172672            1             4          0  2018-01-29 01:50:10        NaN         0           0         0  2937756124  holy wood babylon tempera feuille sujet affair...   en

In [11]:
list(df[df.id == '1044325242766807042']['clean_text'])

['hâte participer cette table ronde washington avec heinrich böll north america université can wait join this event october about toxic masculinity not balance ton porc']

In [12]:
df = df[df.lang == 'fr']

In [13]:
len(df)

184885

In [14]:
df.to_pickle('_outputs/harassement_clean_french.pickle')